body{
    background-color: #EBEBEB;
}
.d{
    border: 2px solid blueviolet;
}
/*============================
 BARRA DE NAVEGAÇÃO
=============================*/
.custom-navbar{
    background-color: #FFF159 !important;
}
.custom-navbar .fa{
    color: #2D3277 !important;
}
.nav-link, .navbar-brand{
    color: #2D3277 !important;
    font-weight: bolder;
}
.nav-brand{
    color: red !important;
}
.nav{
    box-sizing: border-box;
}

#busca{
    box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}
#busca input{
    border: none !important;
}
#busca input:focus{
    box-shadow: none !important;

}
#busca .btn-outline{
    border: none !important;
}
#busca .input-group-append{
  background-color: #fff;
  border: 1px solid transparent !important;
}
 #busca-btn{
    border: none !important;
    border-left: 1px solid lightgray !important;
}
#busca-btn:hover{
    background-color: #fff;
}
#campo-busca::placeholder {
  color: #E8E8E8;
  text-align: center;
  font-size: 1.2em;
}

.carrinho{
    position: relative;
}

.carrinho-qtd{
    position:absolute;
    top: -7px;
    right: -12px;
    background-color: #fff;
    width: 16px !important;
    height: 16px;
    text-align: center;
    border-radius: 50%;
    background-color: #2D3277;
    color: #fff;
    line-height: 16px;
    font-size: .7em;
}


#busca{
    width: 50%;
}

@media (min-width:772px){
    #busca{
        width:70%;
    }
}


/*===================================== 
CARROSSEL
=======================================*/

.carousel-item{
    min-height: 250px;
}

.carousel-item img{
    width: 100%;
    object-fit: cover;
    object-position: bottom;
    min-height: 250px;
}


/*============== 
 SLIDER
==============*/

.card-custom{
    
    min-width: 200px !important;
    max-width: 300px !important;
    transition: all .5s;
}

.card-custom:hover{
    box-shadow: 3px 9px 30px rgba(0,0,0,0.3);
}



.custom-img{
    width: 100% !important;
}

.card-body{
    padding: 0 !important;
    border-bottom: 0px solid transparent !important;
    /* background-color: cornsilk !important; */
}
.card-footer{
    
    border: none !important;
    border-top: 1px solid lightgray !important;
    background-color: #fff;
}




/* .shop-card{
    border: none !important;
}
.shop-card .card-footer{
    border: none !important;
} */



/* 

FILLER
*/

.filler{
    background-color: purple;
}